#Infect-button {
  background-color: #FFD7C2;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 10px !important;
}

#viruses{
    position: absolute;
    left: calc(50% - 125px);
    bottom: 0;
    width: 250px;
    height: 50px;
    background-color: white;
}

.virusIcon {
    width: 36px;
    height: 36px;
    display:inline-block;
    border-radius: 50%;
    margin: 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-floating{
  text-align: center;

}


.btn-floating.btn-large {
  width: 70px;
  height: 70px;
}


.sidenav-name{
    font-size: 20px !important;
}

.levelup {
  position: relative;
  height: 15px;
  display: block;
  width: 90%;
  background-color: lightgrey;
  border-radius: 3px;
  margin: 1.5rem 0 1rem 0;
  overflow: hidden;
}

.levelup .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: grey;
  transition: width .3s linear;
}

nav .button-collapse i {
  height: 56px;
  line-height: 56px;
}

 nav a.button-collapse {
    display: block !important;
  }

.side-nav .userView .circle {
  height: 100px !important;
  width: 100px !important;
}

.collapsible-header{
    line-height: 56px !important;
    font-weight: bold !important;
}

.profile{
    height: 130px !important;   
}

.profile-picture{
    position: relative;
    margin: 16px 16px 16px 25px;
    height: 100 px;
    width: 100px;
}

.profile-name{
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 110px;
}

.profile-account{
 line-height: 160px;  
}

.achievement-tag{
  width: 80%;
  margin-left: 10%;
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: darkgrey;
  background: white;
    
}

.achievement-text{
  font-weight:  !important;
  font-family: Roboto;
  font-size: 20px;
}

.achievement-box{
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
  height:25vw;
  background: #dae2ef;
}

@media screen and (max-width: 320px) and (min-width: 0px){
.achievement-box .achievement-text{
    text-align: center;
    color: dimgray;
    font-weight: 500;
    font-size: 8px;
}

.achievement-box .achievement-number{
    margin-top: -25px;
    text-align: center;
    color: dimgray;
    font-weight: 500;
    font-size: 40px;
}
}

@media screen and (max-width: 699px) and (min-width: 321px){
.achievement-box .achievement-text{
    text-align: center;
    color: dimgray;
    font-weight: 500;
    font-size: 10px;
}

.achievement-box .achievement-number{
    margin-top: -10px;
    text-align: center;
    color: dimgray;
    font-weight: 500;
    font-size: 50px;
}
}

@media screen and (max-width: 1300px) and (min-width: 700px){
.achievement-box .achievement-text{
    text-align: center;
    color: dimgray;
    font-weight: 500;
}

.achievement-box .achievement-number{
    margin-top: 5px;
    text-align: center;
    color: dimgray;
    font-weight: 500;
    font-size: 80px;
}
}

.achievement-progress {
  margin-top:20px;
  margin-left:10%;
  position: relative;
  height: 30px;
  display: block;
  width: 80%;
  background-color: #dae2ef;
  border-radius: 2px;
  overflow: hidden;
}

.achievement-progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #FFDC01;
  transition: width .3s linear;
}
